/* color palette from <https://github.com/vuejs/theme> */

body {
  min-height: 100vh;
}


:root {
  --button-color-light: #24669c;
  --button-color-light-hover: #194e79;
  --button-color-facebook: #4267B2;
  --bg-color-dark: #222222;
  --bg-color-dark3: #191b1b;
  --bg-color-dark2: #1c1b1b;
  --bg-color-grey: #3b3838;
  --bg-color-light: #fdfafa;
  --text-color-light: #ffffff;
  --text-color-light2: #f1eeee;
  --text-color-highlighted: #9CBACD;
  --text-color-highlighted2: #40B2FF;


}