/* color palette from <https://github.com/vuejs/theme> */

body {
  min-height: 100vh;
}


:root {
  --button-color-aqua: #00ffff;
  --button-color-light: #24669c;
  --button-color-light-hover: #194e79;
  --button-color-dark: #333333;
  --linear-bg-color-light: linear-gradient(#40B2FF, #194e79);
  --button-color-facebook: #007bff;
  --bg-color-dark: #222222;
  --bg-color-dark2: #1c1b1b;
  --bg-color-dark3: #191b1b;
  --bg-color-dark4: #000000a6;
  --bg-color-dark5: #101112;
  --bg-color-dark-full: #08080a;
  --bg-color-grey: #3b3838;
  --bg-color-grey2: #787878;
  --bg-color-light: #fdfafa;
  --text-color-light: #ffffff;
  --text-color-red: rgb(209, 27, 27);
  --text-color-light2: #f1eeee;
  --text-color-highlighted: #9CBACD;
  --text-color-highlighted2: #40B2FF;

}